
.container{
color:#3e432e;
font-family:"Comfortaa";
font-size:1em;
margin:0 auto;
}

.btn{
    color:#a7d129;
    background-color:#3e432e;
    }

.image_grid{
    max-width:100%;
    height:auto;
    padding:1em;
    margin:0 auto;
    
}

.first_image{
    height:auto;
    margin:0 auto;
    padding-top:0.5em;
}

.about_img_block{
    margin:0 auto;
}

.inner_content{
    width:100%;
}


@media(min-width:992px){
    .first_image{
    display:none;
        }
}




 @media(min-width:1200px){
    .image_grid{
        max-width:300px;
        height:auto;
    }
    }
    
@media(min-width:992px) and (max-width:1199px){
    .image_grid{
        max-width:350px;
        height:auto;
        position:relative;
        left:10%;
    }
    
    .about_us_main{
        margin-right:3%;
    }
}

   

@media(max-width:991px){
    .image_grid{
        max-width:100%;
        height:auto;
        padding-left:10%;
        padding-right:10%;
        
    }
    
    .first_image{
        position:relative;
        bottom:15px;
        padding-left:10%;
        padding-right:10%;
    }
}


       
  
  
