body {
  background: #FDFDC3;
}

.form-box {
  width:80%;
  max-width:800px;
  margin: auto;
  padding: 50px;
  background: #ddd;
  color:#616f39;
  font-family:"Comfortaa", sans-serif;
  padding:40px;
  
}
section{
  padding-top:40px;
  padding-bottom:40px;
}

h3{
  text-align: center;
}

input, textarea {
  width: 100%;
}

.message_box{
    min-height:200px;
}

.button-primary{
    max-width:80px;
    position:relative;
    left:50%;
    align-items:center;
    background-color:#a7d129;
    color:black;
}

.contact_box_elements{
    font-size:1.5em;
    padding-top:.5em;
    padding-bottom:.5em;
}