body{
    font-family:"Comfortaa", sans-serif;
}

.container{
    background-color:#FDFDC3;
}


.img-fluid{
    margin:1em;
    max-width:550px;
    height:auto;
}

.portfolio_images{
    max-width:100%;
    height:auto;
}

.btn{
    background-color:#3e432e;
}

.btn:hover{
background-color:#a7d129;
    
}

.btn:active{
    background-color:white;
    color:#3e432e;
}

h1{
    background-color:#616f39;
    border-radius:20px;
    padding-left:30px;
    font-size:1.5em;
    color:white;
    width:auto;
    width:50%;
}

h2{
    border-radius:20px;
    padding-left:30px;
    font-size:1.5em;
    background-color:#a7d129;
    width:50%;
}


h3{
  background-color:#a7d129;
  color:#3e432e;
  font-size:1.5em;
  border-radius:20px;
  padding-left:30px;   
  
}



