.container{
    background-color:#FDFDC3;
}


.img-fluid{
    margin:1em;
    max-width:550px;
    height:auto;
}

.portfolio_images{
    max-width:100%;
    height:auto;
}

.btn{
    background-color:#3e432e;
}

.btn:hover{
background-color:#a7d129;
    
}

