

.container{
    background-color:/*/FDC3;*/#ddd;
    margin-bottom:5%;
    font-family:"Comfortaa";
    }
    


.row{
}

.main_text_port{
    font-size:1em;
    
}




.img-fluid{
    margin:1em;
    max-width:550px;
    height:auto;
}

.portfolio_images{
    max-width:100%;
    height:auto;
}

.btn{
    background-color:#3e432e;
}

.btn:hover{
background-color:#a7d129;
    
}

.btn:active{
    background-color:white;
    color:#3e432e;
}
/*
h1{
    border-radius:20px;
    padding-left:30px;
    font-size:1.5em;
    color:white;
    width:auto;
    width:50%;
   
}

h2{
    border-radius:20px;
    padding-left:30px;
    font-size:1.5em;
    width:50%;
   
}


h3{
  color:#3e432e;
  font-size:1.5em;
  border-radius:20px;
  padding-left:30px; 

  
}
*/

.contact_box_elements{
    font-size:1.5em;
    padding-top:1.5em;
    padding-bottom:1em;
}

a{color:white;
  padding:0.3em;
}



