
.container{
    margin-bottom:2em;
    font-family:"Comfortaa", sans-serif;
    font-size:1em;
}

.wrapper_serv{
    display:flex;
    flex-direction:column;
}

.serv_blocks{
    display:flex;
    flex-direction:row;
    padding:1.5em;
}



.btn{
    color:#a7d129;
    background-color:#3e432e;
    
}

.main_text{
    padding:1.5em;
  
}

.img_blocks{
    padding:1.5em;
}
/*new css for main section*/

.image_right{
    margin:0 auto;

}



.serv_imgs{
    max-width:100%;
    padding-bottom:1em;
    height:auto;
}

@media(min-width:992px){
    .image_right{
        margin-left:10%;
    }
    
}





