
.container{
color:#3e432e;
font-family:"Comfortaa";
font-size:1em;
margin:2em;
}

.btn{
    color:#a7d129;
    background-color:#3e432e;
    }

.image_grid{
    max-width:100%;
    height:auto;
    padding-left:2em;
    padding-top:2em;
    
}


 @media(min-width:800px){
    .image_grid{
        max-width:300px;
        height:auto;
    }
    }
  
       
  
  
