/*css for NAVBAR */
body{
  background-color:#FDFDC3/*feffdf*/
  ;
}


.full-heading{
    font-size:1.75em;
    color:#a7d129;
    width:200px;
    position: absolute;
    top: 0%;
    left: 40%;
    margin-right: -60%;
    z-index: 1;
}


.short-heading{
  font-size:1.75em;
    color:#a7d129;
    width:200px;
    position: absolute;
    top: 75%;
    left: 8%;
    margin-right: -2%;
    z-index: 1;
}


/* Hide short text by default (resolution > 480px)*/
.short-heading { display: none; }

/* When screen size <= 480px, hide short text and show full text*/
@media (max-width: 480px) {
    .short-heading { display: inline-block; }
    .full-heading { display: none; }
}
  



#logo{
height:100px;  
width:200px;
position:absolute;
left:5%;
right:-95%;
top:-10%;
z-index: 1;

}


/* end of css for navbar */
/* css for dropdown element*/

.dropdown{
  position:absolute;
  top:40px;
  padding-left:70%;
 
}
/*targetting burger icon*/


#dropdownMenu1{
  background-color:transparent;
  color:#a7d129;
}
#dropDownMenu1:hover{
  background-color:transparent;
  border:transparent;
}
#dropdownMenu1:focus{
  background-color:transparent;
  border:transparent;
}



.dropdown_item{
  color:pink;
}

.dropdown-toggle{
  background-color:orange;
  border-color:transparent;
  color:#a7d129;
  font-size:50px;

}


/*end of css for dropdown */

.d-block{
    width:500px;
}

.navbar{
    height:170px;
    background-color:#3e432e;
    font-family: 'Fjalla One', sans-serif;
    /*padding:20px;*/
    width:105%;
    margin-left:auto;
    margin-right:auto;
    border-width:20px;
    border-color:#3e432e;


}

.navbar h2{
  font-size: 2em;
}


  .dropdown-menu{
    position:relative;
    left:-40px;
    top:23px;
    background-color:#a7d129;
  }






#portfolio_nav{
    display:flex;
    align-items:center;
}


/* carousel css*/

  #carousel{
    margin-left:2.5%;
    position:relative;
    top:-20px;
  }
  
  @media(min-width:1000px){
    #carousel{
      margin-left:2.5%;
    }
  }



.carousel-caption{
 background-color:rgba(255, 255, 255, 0.3);
 color:black;
 font-family:'Comfortaa', sans-serif;;
 font-weight:bold;
 max-width:400px;
 max-height:150px;
 border-radius:20px;
 
}

.carousel-caption h2{
  background-color:transparent;
  color:black;
  margin: 0 auto;
}

.glyphicon-chevron{
  color:black;
}



.car_image{
  border-radius:5%;
}

h1{
  padding-top:0.5%;
  padding-bottom:0.5%;
  font-size:1.5em;
  background-color:#3e432e;
  border-radius:20px; 
  padding-left:30px;
  color:white;
  width:auto;
}

h2{
  padding-top:0.5%;
  padding-bottom:0.5%;
  border-radius:20px;
  padding-left:30px;
  font-size:1.5em;
  width:50%;
  background-color:#a7d129;
}

h3{
    border-radius:20px;
    padding-left:30px;
    background-color:#a7d129;
    padding-top:0.5%;
    padding-bottom:0.5%;
    font-size:1.5em;
}


/*end of carousel */


/*styling of construction, maintainance, design emblems */
#section_1{
  min-height:200px;
  margin-left:20px;
  background-color:#FDFDC3;
}

.box{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  margin:1.5em;
  background-color:/*#feffdf*/
  #FDFDC3;
}


.inner_block{
  padding-top:2%;
  padding-bottom:5%;
  color:#616f39;
  background-color:#eee;
  min-height:280px;
  min-width:250px;
  border-radius:5%;
  margin-bottom:5%;
  
}

.text_block{
    font-family:"Comfortaa", sans-serif;
    padding:0.5em;
    
}

.text_block h2{
  font-size:1.5em;
  background-color:#a7d129;
  color:black;
  padding-left:0;
  positioning:relative;
  text-align:center;
  border-radius:5%;
  width:100%;
 

}


.thumb-img {
  display: block; 
  margin-left: auto; 
  margin-right: auto;
  width:100px;
  height: 100px;
  border-radius: 50%;
  position:relative;
  margin-left:auto;
  margin-right:auto;
}

/*end of section block styling */


/*footer and related items */
.footer_items{
  flex:1;
}

.footer {
  display:flex;
  justify-content:space-between;
  background-color: #efefef;
  color:#a7d129;
  text-align: center;
  height:100px;
  width:105%;
  background-color:#3e432e;
  font-family: 'Fjalla One', sans-serif;
  padding:20px;
}

.footer h2{
  background-color:#3e432e;
}


.footer_block{
  float:left;
  margin-left:10px;
}

#social_tags{
  color:#a7d129;
  font-size:30px;
  float:right;
  
}

#social_tags a{
  color:#a7d129;
}

/*end of footer elements */

@media(max-width:1000px){

 
.section_1{
  margin-left:0;
}
}
@media(max-width:850px){
 .box{
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
}
.inner_block{
  width:80%;
}
}

@media(max-width:800px){  


  .dropdown{
  position:absolute;
  top:40px;
  padding-left:80%;
 
}

.inner_block{
  margin:3%;
}

#address{
  display:none;
}


.fab{
  font-size:30px;
}

.fas{
  font-size:30px;
}

}
/*---------------------------------------------------------------------*/
@media (max-width:680px){

}
@media (max-width:600px){
  

  .carousel-caption{
    display:none;
  }
  
 
  .navbar h2{
    font-size:1.5em;
    position:absolute;
    left:40%;
    top:0%;
    right:-60%;
   
  }
  
  
  .glyphicon-menu-hamburger{
    font-size:30px;
  }
  
  
  
}

/*---------------------------------------------------------------------------------------*/
@media (max-width: 480px)  { /* smartphones, Android phones, landscape iPhone */ 
  
  #logo{
    height:50%;
    left:0;
    right:100%;
  }
  
  .short-heading{
    position:absolute;
    top:130px;
  }
  
  #address{
    display:none;
  }
  /*
  .box{
    display:flex;
    flex-direction:column;
    margin-left:35%;
    margin-right:auto;
    background-color:grey;
  }
    */
  .inner_block{
    width:80%;
    max-width:400px;
    margin:5%;
  }
  
  #name{
    display:none;
  }
  
  #phone{
    display:none;
  }
  
  



    
/*-----------------------------------------------------------------------------------------------*/
@media (max-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
 
  

  

 
}
/*------------------------------------------------------------------------------------------------*/
@media(max-width:250px){
 

}
    
  



/*@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
/*@media (min-width:1281px) 

