
.container{
color:#3e432e;
font-family:"Comfortaa";
font-size:1em;
margin:0 auto;
}

.btn{
    color:#a7d129;
    background-color:#3e432e;
    }

.image_grid{
    max-width:100%;
    height:auto;
    padding:1em;
    
}

.first_image{
    max-width:120%;
    height:auto;
    padding:1em;
}

@media(min-width:992px){
    .first_image{
    display:none;
        }
}


 @media(min-width:1200px){
    .image_grid{
        max-width:300px;
        height:auto;
    }
    }
    
@media(min-width:992px) and (max-width:1200px){
    .image_grid{
        max-width:450px;
        height:auto;
    }
}
@media(min-width:768px) and (max-width:991px){
    .image_grid{
        max-width:350px;
        height:auto;
    }
@media(max-width:990px){
    .image_grid{
        max-width:100%;
        height:auto;
        padding-left:50px;
    }
}


       
  
  
