/*css for NAVBAR */
body{
  background-color:#ffff99;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

@media(max-width:480px){
  
  body{
    max-width:480px;
    

  }
  
  #carousel{
    max-width:480px;
  }
  
}

@media(max-width:768px){
  body{
    max-width:768px;
  
   }
   
   #carousel{
     max-width:768px;
   }
}

@media(max-width:992px){
  body{
    max-width:992px;
  }
}

@media(max-width:1200px){
  body{
    max-width:1200px;
  }
}

@media(max-width:1500px){
  body{
    max-width:1500px;
  }
}



.container{
color:#3e432e;
font-family:"Comfortaa";
font-size:1em;
margin:0 auto;
padding-bottom:5%;
}


.full-heading{
    font-size:1.75em;
    color:#88D840;
    width:200px;
    position: absolute;
    top: 0%;
    left: 40%;
    margin-right: -60%;
    z-index: 1;
}


.short-heading{
  font-size:1.75em;
    color:#88D840;
    /*#88D840*/
    /*a7d129 original green*/
    width:200px;
    position: absolute;
    top: 75%;
    left: 8%;
    margin-right: -2%;
    z-index: 1;
}


/* Hide short text by default (resolution > 480px)*/
.short-heading { display: none; }

/* When screen size <= 480px, hide short text and show full text*/
@media (max-width: 480px) {
    .short-heading { display: inline-block; }
    .full-heading { display: none; }
}
  



#logo{
height:100px;  
width:200px;
position:absolute;
left:5%;
right:-95%;
top:-10%;
z-index: 1;

}


.img-fluid 
{ max-width: 100%; 
height: auto; }


/* end of css for navbar */


/* css for dropdown element*/

.dropdown{
  color:#88D840;
  position:absolute;
  top:40px;
  padding-left:72%;
  border:transparent;
 }
 
  .glyphicon-menu-hamburger{
    color:#88D840;
  }
  
  .glyphicon-menu-hamburger:visited, .glyphicon-menu-hamburger:active
  .glyphicon-menu-hamburger:hover{
    color:#88D840;
  }
  
  

.dropdown:focus,.dropdown:active{
  background-color:transparent;
  border-color:transparent;
  outline: none !important;
  box-shadow: none !important;
  }

#dropdownMenu1{
  background-color:transparent;
  border-color:transparent;
  outline:none !important;
  box-shadow:none !important;
}

#dropdownMenu1:active, #dropdownMenu1:visited, #dropdownMenu1:focus{
background-color:transparent;
  border-color:transparent;
  outline:none !important;
  box-shadow:none !important;  
}



.dropdown-toggle{
  border-color:transparent;
  color:#88D840;
  font-size:50px;

}

.dropdown-toggle:hover,.dropdown-toggle:focus,.dropdown-toggle:active{
  background-color:transparent;
  border-color:transparent;
  outline: none !important;
  box-shadow: none !important;
  }
  
  .dropdown-menu{
    position:absolute;
    left:85%;
    top:80px;
    background-color:#88D840;
    
  }
  
  
  
  @media(max-width:480px){
    .dropdown{
      position:absolute;
      left:-10%;
    }
    
    .dropdown-menu{
      position:absolute;
      left:70%;
    }
    
  }
  
  @media(max-width:380px){
    .dropdown-menu{
      position:absolute;
      top:107px;
    }
  }
  
   @media(max-width:250px){
    .dropdown-menu{
     margin:0 auto;
    }
  }
  




/*end of css for dropdown */

.d-block{
    width:500px;
}

.navbar{
    height:170px;
    background-color:#3e432e;
    font-family: 'Fjalla One', sans-serif;
    /*padding:20px;*/
    width:100%;
    margin-left:auto;
    margin-right:auto;
    border-width:20px;
    border-color:#3e432e;


}

.navbar h2{
  font-size: 2em;
}


#portfolio_nav{
    display:flex;
    align-items:center;
}


/* carousel css*/

  #carousel{
    position:relative;
    max-width:1450px;
  }
  
  @media(max-width:1000px){
    #carousel{
      width:100%;
      height:auto;

    }
  }


.carousel-caption h2{
  background-color:rgba(255, 255, 255, 0.3);
  padding:0.5em;
  min-width:50%;
  font-family:'Comfortaa', sans-serif;
  color:black;
  margin:0 auto;
  font-size:25px;
}

.glyphicon-chevron{
  color:black;
}



.car_image{
  max-width:100%;
  height:auto;
  margin:0 auto;
 
}


  @media(min-width:1100px){
    .car_image{
      margin:0 auto;
     /* padding-left:1.2em;*/
    }
  }

/*end of main Carousel styling*/


/*headings*/
h1{
  padding-top:0.5%;
  padding-bottom:0.5%;
  font-size:1.5em;
  background-color:#3e432e;
  border-radius:20px; 
  padding-left:30px;
  color:white;
  width:auto;
}

h2{
  padding:0.5%;
  border-radius:20px;
  font-size:1.5em;
  width:50%;
  background-color:#88D840;
}

h3{
    border-radius:20px;
    padding-left:30px;
    background-color:#88D840;
    padding-top:0.5%;
    padding-bottom:0.5%;
    font-size:1.5em;
}




/*styling of construction, maintainance, design emblems blocks */

p{
  padding-left:10%;
  padding-right:10%;
}


#section_1{
  min-height:200px;
  background-color:/*#FDFDC3*/#ffff99;/*yellow*/
}

.box{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  margin:1.5em;
  background-color:/*#feffdf*/
  /*#FDFDC3*/#ffff99;
}

.container{
  background-color:#ffffe6;
  margin-bottom:100px;
  padding:2em;
}

.main_body{
  padding-bottom:5%;
}


.inner_block{
  padding-top:2%;
  padding-bottom:5%;
  color:#616f39;
  background-color:#ffffe6;
  min-height:280px;
  min-width:250px;
  border-radius:5%;
  margin-bottom:5%;
  
}

.text_block{
    font-family:"Comfortaa", sans-serif;
    padding:0.5em;
    
}

.text_block h2{
  font-size:1.5em;
  background-color:#88D840;
  color:black;
  padding-left:0;
  positioning:relative;
  text-align:center;
  border-radius:5%;
  width:100%;
 

}

.text_block h2:hover{
  text-decoration:none;
}

.text_block a:hover{
  text-decoration:none;
}


.thumb-img {
  display: block; 
  margin: 0 auto; 
  width:100px;
  height: 100px;
  border-radius: 50%;
  position:relative;
 
}

/*end of section block styling */


/*footer and related items */
.footer_items{
  flex:1;
}

.footer {
  display:flex;
  justify-content:space-between;
  background-color: #efefef;
  color:#88D840;
  text-align: center;
  height:100px;
  width:105%;
  background-color:#3e432e;
  font-family: 'Fjalla One', sans-serif;
  padding:20px;
  position:relative;
  bottom:0;
}

.footer h2{
  background-color:#3e432e;
}


.footer_block{
  float:left;
  margin-left:10px;
}

#social_tags{
  color:#88D840;
  font-size:30px;
  float:right;
  
}

#social_tags a{
  color:#88D840;
}

/*end of footer elements */

@media(max-width:1000px){

 
.section_1{
  margin-left:0;
}
}
@media(max-width:850px){
 .box{
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
}
.inner_block{
  width:80%;
}
}

@media(max-width:800px){  


 
.inner_block{
  margin:3%;
}

#address{
  display:none;
}


.fab{
  font-size:30px;
}

.fas{
  font-size:30px;
}

 .glyphicon-menu-hamburger{
    font-size:30px;
  }

}
/*---------------------------------------------------------------------*/
@media (max-width:680px){

}
@media (max-width:600px){
  

  .carousel-caption{
    display:none;
  }
  
 
  .navbar h2{
    font-size:1.5em;
    position:absolute;
    left:40%;
    top:0%;
    right:-60%;
   
  }
  
  
 
  
  
  
}

/*---------------------------------------------------------------------------------------*/
@media (max-width: 480px)  { /* smartphones, Android phones, landscape iPhone */ 
  
  #logo{
    height:50%;
    left:0;
    right:100%;
  }
  
  .short-heading{
    position:absolute;
    top:130px;
  }
  
  #address{
    display:none;
  }

  .inner_block{
    width:80%;
    max-width:400px;
    margin:5%;
  }
  
  #name{
    display:none;
  }
  
  #phone{
    display:none;
  }
  
  



    
/*-----------------------------------------------------------------------------------------------*/
@media (max-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
 
  

  

 
}
/*------------------------------------------------------------------------------------------------*/
@media(max-width:250px){
 .inner-block{
   font-size:0.75em;
 }
 .text_block h2{
   font-size:1em;
 }
 .footer_items{
   font-size:15px;
 }
 .short-heading{
   display:none;
 }
 
 #logo{
   height:40px;
   position:absolute;
   left:-50px;
 }
}
    
  



/*

